.App { 
  display: grid;
  background-color: rgb(89, 40, 107);
  max-width: 1200px;
  margin: 0 auto;
 
 grid-template-areas:
"header header header"
"nav content content";
 grid-template-rows: 100px 1fr;
  grid-template-columns: 3fr 9fr;
  grid-gap: 10px;
  
}
.header {
  grid-area:header;
}

.header img{
  width: 80px;
}


.nav {
  grid-area: nav;
  margin: 20px;
  margin: 0 auto;
  font-size: 24px;
}
.content {
  grid-area: content;
}

.content  img{
  width: 90%;
  height: 300px;
  border-radius: 20px;
}

.ava img{
  width: 150px;
  height: 150px;
}