.content{
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.content__users{
  padding: 20px;
}
.content__user{
  padding: 8px;
}

.content__user a{
  color: black;
  text-decoration: none;
}

.content__users .active{
  color: rgb(233, 219, 24);
}