.nav {
  grid-area: nav;
  margin: 20px;
  margin: 0 auto;
  font-size: 24px;
}

.nav a {
  color: black;
  transition: color 0.2s ease-in-out;
  transform: scale(1);
}

.nav a:hover {
  color: gold;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .nav {
    font-size: 20px;
  }
}

.nav a.active {
  color: gold;
}