.container {
  position: relative;
  margin-bottom: 25px;
}

.input {
  position: relative;
  z-index: 2;
  width: 50%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;
}

.inputError {
  border:3px solid #dfee15;
}

.errorMessage {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 20px;
  color: #dfee15;
  top:-40px;
  z-index: 1;
}

@media (min-width: 768px) {
  .input {
    height: 50px;
    font-size: 18px;
  }
}